name: LuaRocks release
on:
  push:
    tags:
      - '*'
  pull_request: # Makes sure the luarocks package can build on PR
  workflow_dispatch: # Allow manual trigger (e.g. if a tagged build failed)
jobs:
  luarocks-release:
    runs-on: ubuntu-latest
    name: LuaRocks upload
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: LuaRocks Upload
        uses: nvim-neorocks/luarocks-tag-release@v7
        env:
          LUAROCKS_API_KEY: ${{ secrets.LUAROCKS_API_KEY }}
        with:
          dependencies: |
            sqlite
            nui.nvim
            pathlib.nvim
          labels: |
            neovim
          detailed_description: "Papis.nvim is a neovim companion plugin for the bibliography manager papis. \nIt's meant for all those who do academic and other writing in neovim and who \nwant quick access to their bibliography from within the comfort of their editor.\n"
